@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: #e3f1ff;
  --card: #f0f0f0;
  --font-color: black;
}

.dark {
  --background: #000;
  --card: #282828;
  --font-color: rgb(255, 255, 255);
}
.custom-shadow {
  text-shadow: 6px 6px 10px rgba(255, 255, 255, 0.5);
}
.custom-shadow-2 {
  text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.6);
}
button:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


body {
  font-family: Arial, Helvetica, sans-serif;
}
